.pdf-nav {
    background-color: hsl(201, 30%, 13%);
}

.pages {
    margin-top: 0.5rem !important;
    clr-input-container {
        padding-right: 5px;
        margin-top: 0 !important;
    }
}

.find {
    margin-top: 0;
    clr-input-container {
        // padding-right: 5px;
        margin-top: 0.5rem !important;
    }
}

clr-icon {
    width: 24px;
    height: 24px;
}

clr-select-container, .clr-select-wrapper {
    margin-top: 0.3rem !important;
}

pdf-toolbar {
    display: none !important;
    width: 0;
    height: 0;
}

div#viewerContainer, .secondaryToolbar {
    top: 0px !important;
}

div#sidebarContent {
    background-color: hsl(201, 30%, 13%, 0.9)
}

div#toolbarSidebar {
    background-color: hsl(201, 30%, 13%, 0.9) !important;
    background-image: none;
}


div#sidebarContainer {
    top: 0px !important;
    min-width: 300px;
    width: var(--sidebar-width);
    // visibility: hidden !important;
    z-index: 2;
}

