<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="40px">
  <div fxFlex.gt-md="30px">

  </div>

  <div fxLayout="column">
    <div style="max-width: 500px;">
      <img [src]="book?.imageBase64" style="min-width: 320px; width: 100%;">
      <div fxLayout="row">
        <button [disabled]="!(book?.fileInfo.pdf)" routerLink="/pdfbook/{{book?._id}}" class="btn btn-primary">
          <clr-icon shape="book" title="pdf"></clr-icon>
          open pdf
        </button>
        <div fxFlex></div>
        <button [disabled]="!(book?.fileInfo.epub)" routerLink="/epubbook/{{book?._id}}" class="btn btn-primary" style="margin-right: 0;">
          <clr-icon shape="book" title="epub"></clr-icon>
          open epub
        </button>
      </div>
    </div>
  </div>
  <div fxFlex.gt-md="60px">

  </div>
  <div fxLayout="column">
    <h1>{{book?.title}}</h1>
    <h3><span *ngFor="let b of book?.authors">{{b}}&nbsp;</span></h3>
    <div>&nbsp;</div>
    <h4>Publisher:&nbsp; {{book?.publisher?.title}} &nbsp;&nbsp;&nbsp;&nbsp; ISBN:&nbsp; {{book?.isbn}} </h4>
    <h4 fxLayout="row" fxLayoutGap="10px">
      <div>Keywords:&nbsp;</div>
      <div>
        <a *ngFor="let t of book?.nlpTags" class="label label-orange clickable">
          {{t}}
        </a>
      </div>
    </h4>
    <h4>Path:&nbsp; {{book?.fileInfo?.root}}/{{book?.fileInfo?.name}} </h4>
    <h4> <a [href]="fileUrl">{{book?.fileInfo?.name}}</a></h4>
    <br />
    <div style="text-align: justify;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(book?.description)"></div>
    <!-- <p class="p2">Section header</p>
    <p class="p3">Table, grid, and form text</p>
    <p class="p4">Form labels and column headers</p>
    <p class="p5">Table footers and chart data</p>
    <p class="p6">Mostly buttons</p>
    <p class="p7">Tags and labels</p>
    <p class="p8">Badges</p>
    <pre class="language-html">Monospaced</pre> or <code class="language-html">Monospaced</code> -->
  </div>
  <div fxFlex="100px">

  </div>
</div>
