<clr-main-container class="main-container">
  <!-- <div class="alert alert-app-level">
      updating...
  </div> -->
  <clr-header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <mat-icon svgIcon="books" aria-hidden="false" aria-label="Librarian"></mat-icon> &nbsp;
        <span *ngIf="this.mediaObserver.isActive('gt-sm')" class="title">{{title}}</span>
      </a>
    </div>
    <div class="searchbar-container">
      <div class="icons-search-wrapper">
        <label for="search-icons-sticky" class="searchbar-label">
          <clr-icon shape="search" size="24"></clr-icon>
          <button aria-label="Close" class="close" type="button" (click)="searchService.searchTerm=''" [class.active]="searchService.searchTerm">
            <clr-icon shape="close" size="24"></clr-icon>
          </button>
          <input id="search-icons-sticky" placeholder="Search for keywords..." type="text" class="searchbar-input clr-input" [(ngModel)]="searchService.searchTerm"/>
        </label>
      </div>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem>About</a>
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

  </clr-header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/bookshelf']" [queryParams]="{view: 'cards'}">
          <clr-icon shape="view-cards"></clr-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/bookshelf']" [queryParams]="{view: 'list'}">
          <clr-icon shape="view-list"></clr-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/bookshelf']" [queryParams]="{view: 'details'}">
          <clr-icon shape="details"></clr-icon>
        </a>
      </li>
    </ul>
  </nav>

  <div class="content-container">

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" class="nav-trigger--bottom" [clr-nav-level]="1">

      <a clrVerticalNavLink routerLinkActive="active" routerLink="/bookshelf/all">
        <!-- <i class="fad fa-home" clrVerticalNavIcon></i> -->
        <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
        Library
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="/filemanager">
        <clr-icon shape="folder-open" clrVerticalNavIcon></clr-icon>
        Folders
      </a>
      <!-- <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded='true'> -->
      <!-- <i class="fad fa-folders" clrVerticalNavIcon></i> -->
      <!-- <clr-icon shape="folder-open" clrVerticalNavIcon></clr-icon> -->
      <!-- Folders -->
      <!-- <clr-vertical-nav-group-children> -->
      <!-- <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active" preserveQueryParams> -->
      <!-- pdfs -->
      <!-- </a> -->
      <!-- <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active"> -->
      <!-- epubs -->
      <!-- </a> -->
      <!-- </clr-vertical-nav-group-children> -->
      <!-- </clr-vertical-nav-group> -->
      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded='true'>
        <clr-icon shape="library" clrVerticalNavIcon></clr-icon>
        Collections
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="/bookshelf/recent" routerLinkActive="active">
            Recently Opened
          </a>
          <a clrVerticalNavLink routerLink="/bookshelf/new" routerLinkActive="active">
            Recently Added
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded='true'>
        <clr-icon shape="note" clrVerticalNavIcon></clr-icon>
        Reading
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="/bookmarks" routerLinkActive="active">
            Bookmarks
          </a>
          <a clrVerticalNavLink routerLink="/notes" routerLinkActive="active">
            Notes
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
