:host {
  width: 100%;
  height: 100%;
}

.book {
  // height: 210px;
  // width: 150px;
  //     width: 150px;
  margin-bottom: 15px;
}

// .shelf {
//     overflow-y: scroll;
// }

// .card {
// }

// div[fxLayout="column"] {
//   width: 100%;
//   height: 100%;

// }

div[fxLayout="column"]>div[fxFlex] {
  flex: 1 0 auto !important;
}

mat-paginator {
  background: none;
  margin-left: -10px;
  margin-right: -10px;
}
